<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner row justify-content-between">
      <form action="/search" method="GET" class="col-8">
        {{!-- <div class="col-8"> --}}
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" value="{{keyword}}" class=" form-control" placeholder="輸入餐廳、分類、地址"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
        {{!-- </div> --}}

      </form>
      <div class="dropdown col-4 align-self-end sort">
        <button class="btn btn-light dropdown-toggle text-left" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <form action="/restaurants" method="GET">
            <button class="btn" type="submit" name="type" value="name_en asc">A-Z</button>
          </form>
          <form action="/restaurants" method="GET">
            <button class="btn" type="submit" name="type" value="name_en desc">Z-A</button>
          </form>
          <form action="/restaurants" method="GET">
            <button class="btn" type="submit" name="type" value="rating desc">評分</button>
          </form>
          <form action="/restaurants" method="GET">
            <button class="btn" type="submit" name="type" value="category asc">類別</button>
          </form>
          <form action="/restaurants" method="GET">
            <button class="btn" type="submit" name="type" value="location asc">地區</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns row">
        {{#each restaurants}}
        <div class="one-item col-md-4 mb-5">
          <a href="/restaurants/{{this.id}}" class="text-secondary">
            <div class="card mb-2">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </div>
          </a>
          <div class="operation text-right">
            <a href="/restaurants/{{this.id}}/edit" class="mr-2 btn btn-secondary">Edit</a>
            <a href="/restaurants/{{this.id}}" class="mr-2 btn btn-secondary">Detail</a>

            <button type="button" class=" btn btn-danger" data-toggle="modal"
              data-target="#delete-button-{{this.id}}">Delete</button>


            <!-- Modal for delete confirmation-->
            <div class="modal fade" id="delete-button-{{this.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">要刪除{{this.name}}?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    確定要刪除嗎?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <form action="/restaurants/{{this.id}}/delete?_method=DELETE" method="POST"
                      style="display: inline;">
                      <button type="submit" class=" btn btn-danger btn-sm">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>